.GameSlide {
  width: 100vw;
  height: var(--home-image-slider-height);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .info {
    width: calc(100% - 24px * 2);
    position: absolute;
    bottom: 24px;
    left: 24px;
  }

  .title {
    font-size: var(--fs-1);
    margin-bottom: 4px;
  }

  .content {
    display: flex;
    gap: 4px;
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    height: var(--home-image-slider-height-desktop);
    margin-right: 16px;
    border-radius: 8px;
  }
}
