.PrimaryHeader {
  display: flex;
  flex-direction: column;
  padding-block: 24px 16px;
  gap: 16px;

  .logo-buttons {
    display: flex;
    align-items: center;
  }

  .logo {
    font-family: var(--ff-logo);
    font-size: var(--fs-logo);
    line-height: normal;
  }

  .buttons {
    display: flex;
    gap: 16px;
    margin-left: auto;
  }

  .SearchBar {
    grid-column: 1 / -1;
  }
}
