.CartItemsCount {
  font-size: 14px;
  width: 26px;
  height: 26px;
  line-height: 1;
  border-radius: 100%;
  background-color: var(--clr-primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline: 6px;
}
