.fw-bold {
  font-weight: 600;
}

.box-shadow-none {
  box-shadow: none !important;
}

.border-none {
  border: none !important;
}

.mg-b4 {
  margin-bottom: 4px;
}

.mg-b8 {
  margin-bottom: 8px;
}

.mg-b16 {
  margin-bottom: 16px;
}

.underlined {
  text-decoration: underline;
}

.uppercased {
  text-transform: uppercase;
}

.fit-center {
  object-fit: cover;
  object-position: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-wrap-word {
  overflow-wrap: break-word;
}

.visibility-hidden {
  visibility: hidden;
}

.capsule {
  padding: 4px 10px;
  border-radius: 4px;
  font-size: var(--fs-ps);
  color: var(--clr-neutral);
  background-color: var(--clr-secondary);
}

.capsule.capsule-light {
  color: var(--clr-secondary);
  background-color: var(--clr-neutral);
}

.skeleton-loading {
  animation: skeleton-loading-anim 800ms linear infinite alternate;
}

@keyframes skeleton-loading-anim {
  0% {
    background-color: hsl(0, 0%, 18%);
  }

  100% {
    background-color: hsl(0, 0%, 25%);
  }
}
