.App {
  @media screen and (min-width: 768px) {
    max-width: 1440px;
    margin-inline: auto;
    display: grid;
    grid-template-areas:
      'header header'
      'sidebar main';

    .PrimaryHeader {
      grid-area: header;
    }

    .SidebarNavigation {
      grid-area: sidebar;
    }

    main {
      grid-area: main;
      overflow-x: hidden;
    }
  }
}
