.Cart {
  position: relative;

  .empty-cart-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 400px;
    left: 0;
    right: 0;

    .icon {
      color: inherit;
      width: 48px;
      height: 48px;
    }
  }

  .horizontal-divider {
    border-top: 3px solid var(--clr-secondary-variant);
    margin-block: 4px;
  }

  .subtotal {
    margin-block: 8px;
    font-size: var(--fs-2s);

    .price {
      color: var(--clr-primary);
    }
  }

  > button {
    width: 100%;
    padding: 14px;
    text-transform: uppercase;
  }
}
