.form-page {
  h2 {
    margin-bottom: 8px;
  }

  input {
    background-color: hsla(0, 0%, 18%, 0.7);
    backdrop-filter: blur(5px);
  }

  button {
    width: 100%;
    margin-top: 8px;
  }

  .error-message:not(:empty) {
    margin-top: 4px;
    color: var(--clr-error);
    font-size: var(--fs-ps);
  }

  .user-prompt-text {
    margin-top: 16px;

    a {
      text-decoration: underline;
      color: var(--clr-primary);
    }
  }

  @media screen and (min-width: 768px) {
    width: 400px;
    margin-inline: auto;
  }
}
