.Game {
  .background-image {
    height: var(--game-page-bg-size);

    &::before {
      height: var(--game-page-bg-size);
    }
  }

  .back {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: underline;
    cursor: pointer;

    .icon {
      width: 16px;
      height: 16px;
      color: var(--clr-neutral);
    }
  }

  .overview {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .PriceButton {
      margin-top: 4px;
    }
  }

  .title {
    font-size: var(--fs-1);
  }

  .date-platforms {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  h2 {
    margin-block: 24px 8px;
  }

  .game-image-slider {
    img {
      width: 280px;
      height: 180px;
      border-radius: 8px;
    }
  }
}
