.Game {
  .background-image {
    height: var(--game-page-bg-size);

    &::before {
      // dims the background image
      height: var(--game-page-bg-size);
    }
  }

  .extra-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .playtime,
  .rating,
  .website {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 4px;

    h2 {
      grid-column: 1 / -1;
    }
  }

  .icon {
    color: white;
    width: 24px;
    height: 24px;
  }

  .back {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: underline;
    cursor: pointer;

    .icon {
      width: 16px;
      height: 16px;
      color: var(--clr-neutral);
    }
  }

  .overview {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .PriceButton {
      margin-top: 4px;
    }
  }

  .title {
    font-size: var(--fs-1);
  }

  .date-platforms {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  h2 {
    margin-block: 24px 8px;
  }

  .game-image-slider {
    img {
      width: 280px;
      height: 180px;
      border-radius: 8px;
    }
  }

  .data-provided {
    margin-block: 20px 24px;
  }

  @media screen and (min-width: 768px) {
    .background-image {
      height: var(--game-page-bg-size-desktop);

      &::before {
        // dims the background image
        height: var(--game-page-bg-size-desktop);
      }
    }
  }
}
