.home-image-slider {
  position: relative;
  min-height: var(--home-image-slider-height);

  .SliderDots {
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 1;
  }

  @media screen and (min-width: 768px) {
    min-height: var(--home-image-slider-height-desktop);

    .SliderDots {
      position: static;
      margin-top: 8px;
    }
  }
}
