.home-image-slider {
  position: relative;

  .SliderDots {
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 1;
  }

  @media screen and (min-width: 768px) {
    .SliderDots {
      position: static;
      margin-top: 8px;
    }
  }
}
