.MaterialButton {
  animation: primary-hover-out 0.1s linear forwards;
  position: relative;
  border: none;
  padding: 12px;

  &:hover {
    animation: primary-hover 0.1s linear forwards;
  }

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: primary-active-out 0.2s ease-out forwards;
  }

  &:active::before {
    animation: primary-active 0.2s ease-out forwards;
  }

  span {
    position: relative;
    pointer-events: none;
    z-index: 1;
  }

  .ripple-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .ripple {
    animation: ripple 0.3s ease-out forwards;
    background-color: #111;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }

  @keyframes ripple {
    0% {
      scale: 1;
      opacity: 0;
    }

    20% {
      opacity: 0.2;
    }

    100% {
      scale: 20;
      opacity: 0.2;
    }
  }

  @keyframes ripple-end {
    0% {
      scale: 20;
      opacity: 0.2;
    }

    100% {
      scale: 20;
      opacity: 0;
    }
  }

  @keyframes primary-hover {
    0% {
      background-color: hsl(4, 99%, 68%);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
    }

    100% {
      background-color: hsl(4, 99%, 70%);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    }
  }

  @keyframes primary-hover-out {
    0% {
      background-color: hsl(4, 99%, 70%);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    }

    100% {
      background-color: hsl(4, 99%, 68%);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
    }
  }

  @keyframes primary-active {
    0% {
      box-shadow: none;
    }

    100% {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
    }
  }

  @keyframes primary-active-out {
    0% {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
    }

    100% {
      box-shadow: none;
    }
  }
}
