.MaterialButton {
  --clr-bg-default: hsl(4, 99%, 68%);
  --clr-bg-hover: hsl(4, 99%, 70%);
  --clr-ripple: hsl(0, 0%, 7%);

  animation: hover-out 0.1s linear forwards;
  position: relative;
  border: none;
  padding: 12px;

  &.secondary-button {
    --clr-bg-default: transparent;
    --clr-bg-hover: hsla(0, 0%, 100%, 0.05);
    --clr-ripple: hsl(0, 0%, 100%);

    padding: 10px;
    border: 2px solid var(--clr-neutral);
  }

  &.tertiary-button {
    --clr-bg-default: transparent;
    --clr-bg-hover: hsla(0, 0%, 100%, 0.05);
    --clr-ripple: hsl(0, 0%, 100%);
    box-shadow: none !important;
  }

  &:hover {
    animation: hover 0.1s linear forwards;
  }

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: active-out 0.2s ease-out forwards;
  }

  &:active::before {
    animation: active 0.2s ease-out forwards;
  }

  span {
    position: relative;
    pointer-events: none;
    z-index: 1;
  }

  .ripple-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border-radius: 4px;
  }

  .ripple {
    animation: ripple 0.3s ease-out forwards;
    background-color: var(--clr-ripple);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }

  @keyframes ripple {
    0% {
      scale: 1;
      opacity: 0;
    }

    20% {
      opacity: 0.2;
    }

    100% {
      scale: 20;
      opacity: 0.2;
    }
  }

  @keyframes ripple-end {
    0% {
      scale: 20;
      opacity: 0.2;
    }

    100% {
      scale: 20;
      opacity: 0;
    }
  }

  @keyframes hover {
    0% {
      background-color: var(--clr-bg-default);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
    }

    100% {
      background-color: var(--clr-bg-hover);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    }
  }

  @keyframes hover-out {
    0% {
      background-color: var(--clr-bg-hover);
      box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    }

    100% {
      background-color: var(--clr-bg-default);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
    }
  }

  @keyframes active {
    0% {
      box-shadow: none;
    }

    100% {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
    }
  }

  @keyframes active-out {
    0% {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
    }

    100% {
      box-shadow: none;
    }
  }
}
