:root {
  /* Colors */
  --clr-primary: hsl(4, 99%, 68%);
  --clr-secondary: hsl(150, 3%, 13%);
  --clr-secondary-variant: hsl(0, 0%, 18%);
  --clr-secondary-dark: hsl(150, 4%, 11%);
  --clr-neutral: hsl(0, 0%, 100%);
  --clr-neutral-variant: hsl(0, 0%, 85%);
  --clr-button-disabled-bg: hsl(0, 0%, 74%);
  --clr-button-disabled-fg: hsl(0, 0%, 29%);
  --clr-error: hsl(0, 100%, 50%);

  /* Typography */
  --fs-1: 2rem;
  --fs-2: 1.5rem;
  --fs-2s: 1.25rem;
  --fs-3: 1rem;
  --fs-logo: 1.25rem;
  --ff-logo: 'Josefin Sans';
  --ff-main: Inter;
  /* p: paragraph, h: heading, s: small */
  --fs-ph: 1.625rem;
  --fs-ps: 0.8rem;

  /* Sizes */
  --home-image-slider-height: 280px;
  --home-image-slider-height-desktop: 360px;
  --home-image-slider-dot-size: 16px;
  --game-page-bg-size: 340px;
  --game-page-bg-size-desktop: 480px;
  --primary-nav-height: 70px;
}

html,
input,
button {
  font-family: var(--ff-main);
}

html {
  background-color: var(--clr-secondary);
  color: var(--clr-neutral);
}

main {
  margin-bottom: calc(24px + var(--primary-nav-height));
}

@media screen and (min-width: 768px) {
  main {
    margin-bottom: 0;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: var(--fs-1);
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

.button {
  color: var(--clr-neutral);
  background-color: var(--clr-primary);
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: var(--fs-3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--clr-button-disabled-bg);
  color: var(--clr-button-disabled-fg);
  box-shadow: none;
  cursor: default;
}

.button.secondary-button {
  background-color: transparent;
  border-color: var(--clr-neutral);
}

.search-input {
  background-color: transparent;
  border: none;
  color: var(--clr-neutral);
  outline: transparent;
}

.search-input::placeholder {
  color: var(--clr-neutral-variant);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form label {
  display: inline-block;
  margin-bottom: 4px;
}

.text-input,
.password-input {
  width: 100%;
  min-width: 0;
  font-size: var(--fs-2s);
  padding: 10px;
  background-color: var(--clr-secondary-variant);
  color: var(--clr-neutral);
  border: none;
  border-radius: 4px;
  outline: transparent;
}

.icon {
  color: var(--clr-primary);
}

.container {
  padding-inline: 24px;
}

.full-screen {
  position: absolute;
  padding-block: 80px;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.image-slider-unwrapped .slide:first-of-type {
  padding-inline-start: 24px;
}

@media screen and (min-width: 768px) {
  .image-slider-unwrapped .slide:first-of-type {
    padding-inline-start: 0;
  }
}

.image-slider-unwrapped .slide:last-of-type {
  padding-inline-end: 24px;
}

.image-slider-unwrapped .slide:not(:last-of-type) {
  margin-right: 16px;
}

.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--clr-secondary);
  opacity: 0.8;
}
