.SidebarNavigation {
  display: none;

  @media screen and (min-width: 768px) {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
    padding-right: 0;
  }
}
