.SidebarNavItem {
  .title {
    display: flex;
    align-items: center;
    gap: 4px;
    animation: fade-out 0.3s ease-out forwards;

    &:hover {
      animation: fade-in 0.3s ease-out forwards;
    }

    .icon {
      color: inherit;
      width: 32px;
      height: 32px;
    }

    .label {
      font-size: var(--fs-2);
    }
  }

  ul {
    margin-top: 10px;
    padding-left: calc(32px + 4px);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  li {
    font-size: var(--fs-2);
    animation: fade-out 0.3s ease-out forwards;

    &:hover {
      animation: fade-in 0.3s ease-out forwards;
    }
  }

  @keyframes fade-in {
    0% {
      color: var(--clr-neutral);
    }

    100% {
      color: var(--clr-primary);
    }
  }

  @keyframes fade-out {
    0% {
      color: var(--clr-primary);
    }

    100% {
      color: var(--clr-neutral);
    }
  }
}
